input {
  visibility: hidden;
}
.show,.hide {
  position: absolute;
  top: -10px;
}
.hide {
  opacity: 0;
}
label {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 27px;
  margin-top: 10px;
}
.first,.second {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  border-radius: 34px;
}
.first::before,.second::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 2px;
  top: 1px;
  background-color: white;
  border-radius: 50%;
  transition: 0.6s;
}
#toggle:checked ~ * .first::before {
  left: 38px;
}
#toggle:checked ~ * .first, #switch:checked ~ * .second  {
  background-color: green;
}
#toggle:checked ~ * .show {
  opacity: 0;
}
#toggle:checked ~ * .hide {
  opacity: 1;
}
#second {
  opacity: 0;
  transition: 0.6s;
}
#toggle:checked ~ #second {
  opacity: 1;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.6s;
  display: block;
}
.second {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgrey;
  transition: 0.6s;
  border-radius: 34px;
}
#switch:checked ~ * .second::before {
  left: 38px;
}
#switch:checked ~ * .second {
  background-color: green;
}
#switch:checked ~ * img {
  filter: brightness(150%);
}
#toggle:checked ~ * img {
  transform: rotate(360deg);
}
